@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Poppins', sans-serif;
}

@theme {
  --animate-ping: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;

  @keyframes ping {
    0% { transform: scale(1); opacity: 1; }
    75%, 100% { transform: scale(1.7); opacity: 0; }
  }
}
